<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferdydurke</title>
</head>

<body>
    <br>
    <div id="form-centre">
        <nav id="navigation-bar">
            <a th:href="@{/prijavljeni}">Knjiga</a>
            <form style="display: inline;" id="logout-form" th:action="@{/logout}" method="post">
                <a onclick="document.getElementById('logout-form').submit();" href="#odjava">Odjava</a>
            </form>
            <p>Prijavljen kot <b id="user-name" th:text="${authenticatedUserName}"></b></p>
        </nav>
        <div class="submenu" id="bookmarks-menu">
            <div class="submenu-header" id="bookmarks-menu-header">
                <div class="close-menu" id="close-bookmarks-menu">Zapri</div>
                <h4>Zaznamki</h4>
                <span class="open-another-submenu" id="open-chapters-menu" >Poglavja</span>
            </div>
            <ul class="submenu-ul" id="bookmarks">
                <li class="bookmark-list-item chapter" th:data-bookmark-chapter="${bookmark.getChapter}"
                    th:data-bookmark-timestamp="${bookmark.getTimestamp}" th:each="bookmark : ${bookmarks}"><a class="fake-link" th:text="${bookmark.getNote}">-</a><span class="bookmark-timestamp"
                        th:text="${bookmark.getTimestamp}"></span></li>
            </ul>
        </div>
        <div class="submenu" id="chapters-menu">
            <div class="submenu-header" id="chapters-menu-header">
                <div class="close-menu" id="close-chapters-menu">Zapri</div>
                <h4>Poglavja</h4>
                <span class="open-another-submenu" id="open-bookmarks-menu" >Zaznamki</span>
            </div>
            <ul class="submenu-ul" id="chapters">
                <li><a class="fake-link chapter uvod" id="intro">UVOD</a><span>21</span></li>
                <li><a class="fake-link chapter prvo_poglavje" id="chapter1">1. Poglavje: UGRABITEV</a><span>48:37</span></li>
                <li><a class="fake-link chapter drugo_poglavje" id="chapter2">2. Poglavje: V JETNIŠTVU IN
                        NADALJNEM
                        MANJŠANJU</a><span>1:06:36</span></li>
                <li><a class="fake-link chapter tretje_poglavje" id="chapter3">3. Poglavje: V MIŠNICI IN NADALJNEM
                        MEČKANJU</a><span>50:20</span></li>
                <li><a class="fake-link chapter cetrto_poglavje" id="chapter4">4. Poglavje: PREDGOVOR K FILIDORJU
                        S
                        PODLAGO V OTROKU</a><span>50:17</span></li>
                <li><a class="fake-link chapter peto_poglavje" id="chapter5">5. Poglavje: FILIDOR, S PODLAGO V
                        OTROKU</a><span>38:38</span></li>
                <li><a class="fake-link chapter sesto_poglavje" id="chapter6">6. Poglavje: ZAPELJEVANJE, SILJENJE
                        V
                        MLADOST SE NADALJUJE</a><span>38:40</span></li>
                <li><a class="fake-link chapter sedmo_poglavje" id="chapter7">7. Poglavje: LJUBEZEN</a><span>28:39</span></li>
                <li><a class="fake-link chapter osmo_poglavje" id="chapter8">8. Poglavje: KOMPOT</a><span>37:42</span></li>
                <li><a class="fake-link chapter deveto_poglavje" id="chapter9">9. Poglavje: ZALEZOVANJE, TIPANJE V
                        SODOBNOST SE NADALJUJE</a><span>50:42</span></li>
                <li><a class="fake-link chapter deseto_poglavje" id="chapter10">10. Poglavje: ORGIJA STEGEN IN
                        ZNOVA V
                        MIŠNICI</a><span>55:42</span></li>
                <li><a class="fake-link chapter enajsto_poglavje" id="chapter11">11. Poglavje: PREDGOVOR K
                        FILIBERTU,
                        PODLOŽENEMU Z OTROKOM</a><span>9:56</span></li>
                <li><a class="fake-link chapter dvanajsto_poglavje" id="chapter12">12. Poglavje: FILIBERT,
                        PODLOŽEN Z
                        OTROKOM</a><span>5:56</span></li>
                <li><a class="fake-link chapter trinajsto_poglavje" id="chapter13">13. Poglavje: HLAPČIČ ALI NOVE
                        NEVARNOSTI</a><span>1:20:35</span></li>
                <li><a class="fake-link chapter stirinajsto_poglavje" id="chapter14">14. Poglavje: ORGIJA FRISOV
                        IN
                        ZNOVA
                        V MIŠNICI</a><span>1:56:50</span></li>
            </ul>
        </div>
        <div id="main-info">
            <h1>Ferdydurke</h1>
            <h6>1937</h6>
            <h2>Witold Gombrowicz</h2>
        </div> <br>
        <div id="whole-audio-player-wrapper">
            <div id="whole-audio-player">

                <br>

                <div class="center-elements">
                    <div class="ten columns" style="color: #FFF5D2; display: block; text-align: center;"
                        id="currently-playing">poglavje</div>
                </div>

                <br>

                <div id="progress-slider-container" class="center-elements">
                    <input class="styled-slider slider-progress" type="range" name="" id="progress-slider">
                    <script>
                        for (let e of document.querySelectorAll('input[type="range"].slider-progress')) {
                            e.style.setProperty('--value', e.value);
                            e.style.setProperty('--min', e.min == '' ? '0' : e.min);
                            e.style.setProperty('--max', e.max == '' ? '100' : e.max);
                            e.addEventListener('input', () => e.style.setProperty('--value', e.value));
                        }   
                    </script>
                </div>

                <div id="seconds-info" class="center-elements">
                    <div class="time-fixed-size">
                        <div id="track-listened">poslušano</div>
                    </div>
                    <div class="time-fixed-size">
                        <div id="time-left-whole-book">ves preostanek</div>
                    </div>
                    <div class="time-fixed-size">
                        <div id="track-left">preostanek</div>
                    </div>
                </div>

                <br>

                <div id="player-controls" class="center-elements">
                    <div id="previous-chapter">
                        <div class="icono-previous"></div>
                    </div>
                    <div>
                        <div class="icono-rewind" id="back-10-sec"></div>
                    </div>
                    <div id="play-pause-container">
                        <div class="icono-play" id="play-pause"></div>
                    </div>
                    <div>
                        <div class="icono-forward" id="forward-10-sec"></div>
                    </div>
                    <div id="next-chapter">
                        <div class="icono-next"></div>
                    </div>
                </div>

                <br>

                <div id="bottom-menu" class="center-elements">
                    
                    <div class="elements-in-columns" id="chapter-list">
                        <div class="icono-list one column"></div>
                    </div>
                    <div class="elements-in-columns">
                        <form id="add-bookmark-form" th:action="@{/prijavljeni/dodaj_zaznamek}" method="post">
                            <input class="hidden-element" id="chapter-field" type="text" name="chapter">
                            <input class="hidden-element" id="timestamp-field" type="text" name="timestamp">
                            <input class="hidden-element" id="note-field" type="text" name="note">
                            <input class="hidden-element" id="email-field" type="email" name="userEmail"
                                th:value="${authenticatedUserName}">
                            <div class="icono-bookmark one column" id="add-bookmark"><button style="all: unset;" type="submit"></button></div>
                        </form>
                    </div>
                </div>
            </div>

            <br>

        </div>
    </div>
    </div>
    <div id="previous-main">
        <span id="track-listened"></span><audio id="audio-player" type="audio/mpeg" controls
            th:src="@{/prijavljeni/ferdydurke_stream?chapter=uvod.mp3}"></audio><span id="track-left"></span>
        <br>
                <!-- <div th:if="${bookmarks != null}">
            <h5>Zaznamki</h5>
            <ul id="bookmarks">
                <li class="bookmark-list-item" th:data-bookmark-chapter="${bookmark.getChapter}"
                    th:data-bookmark-timestamp="${bookmark.getTimestamp}" th:each="bookmark : ${bookmarks}"><span
                        th:text="${bookmark.getChapter}"></span>-<span th:text="${bookmark.getTimestamp}"></span>-<span
                        th:text="${bookmark.getNote}"></span></li>
            </ul>
        </div> -->
        <br>
        <div id="play-speed-toggle">
            <h4>Hitrost predvajanja</h4>
            <ul>
                <li id="x0.5"><a href="#fake-id">x0.5</a></li>
                <li id="x0.75"><a href="#fake-id">x0.75</a></li>
                <li id="x1.0"><a href="#fake-id">x1.0</a></li>
                <li id="x1.25"><a href="#fake-id">x1.25</a></li>
                <li id="x1.5"><a href="#fake-id">x1.5</a></li>
                <li id="x1.75"><a href="#fake-id">x1.75</a></li>
                <li id="x2.0"><a href="#fake-id">x2.0</a></li>
            </ul>
        </div>
    </div>

    <script th:src="@{/scripts/audio_player_bookmarks.js}"></script>
<script th:src="@{/scripts/audio_player.js}"></script>
</body>

</html>