<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <title>Ferdydurke - Registracija</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/form.css}">
</head>
<body>
  <br>
<div id="form-centre">
  <nav id="navigation-bar">
    <a th:href="@{/neprijavljeni}">Knjiga</a>
    <a th:href="@{/neprijavljeni/prijava}">Prijava</a>
    <a th:href="@{/neprijavljeni/registracija}">Registracija</a>
  </nav>
  <div id="main-info">
  <h1>Registriraj se</h1>
  <p style="text-align: center;" >Če se registriraš, se tvoj položaj v knjigi vedno shrani. Poleg tega lahko dodajaš zaznamke</p>
  <form th:action="@{/neprijavljeni/registracija}" th:object="${user}" method="post" enctype="utf8">
    <div class="error" th:if="${userExistsException != null}">
      <div  th:text="${userExistsException.getMessage}">
    </div>
    </div>
    <div class="input-element">
      <label>email</label>
      <input type="email" th:field="*{email}" placeholder="email">
      <div th:if="${fieldErrors != null}"> 
        <div th:each="error : ${fieldErrors}" th:if="${error.field} == 'email'" th:text="${error.defaultMessage}" ></div>
      </div>
    </div>
    <div class="input-element">
      <label>geslo</label>
      <input type="password" th:field="*{password}" placeholder="geslo">
      <div th:if="${fieldErrors != null}">
      </div>
    </div>
    <div class="input-element">
      <label>potrdi geslo</label>
      <input type="password" th:field="*{matchingPassword}" placeholder="potrdi geslo">
      <div th:if="${globalErrors != null}">
        <div th:each="error : ${globalErrors}" th:text="${error.defaultMessage}"></div>
      </div>
    </div>
    <button class="submit-button" type="submit">registriraj se</button>
  </form>
</div>
</div>
</body>
</html>