<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferdydurke</title>
</head>
<body>
<nav>
  <a th:href="@{/neprijavljeni}">Knjiga</a>
  <a th:href="@{/neprijavljeni/prijava}">Prijava</a>
  <a th:href="@{/neprijavljeni/registracija}">Registracija</a>
  <a th:href="@{/neprijavljeni/o_knjigi}">O knjigi</a>
</nav>
<h1>Registriraj se</h1>
<form th:action="@{/neprijavljeni/registracija}" th:object="${user}" method="post" enctype="utf8">
  <div>
    <label>Email</label>
    <input type="email" th:field="*{email}">
    <div th:if="${fieldErrors != null}">
      <div th:each="error : ${fieldErrors}" th:if="${error.field} == 'email'" th:text="${error.defaultMessage}"></div>
    </div>
  </div>
  <div>
    <label th:text="#{label.user.password}">password</label>
    <input type="password" th:field="*{password}">
    <div th:if="${fieldErrors != null}">
    </div>
  </div>
  <div>
    <label th:text="#{label.user.confirmPassword}">confirm</label>
    <input type="password" th:field="*{matchingPassword}">
    <div th:if="${globalErrors != null}">
      <div th:each="error : ${globalErrors}" th:text="${error.defaultMessage}"></div>
    </div>
  </div>
  <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
</body>
</html>